:root {
--cor-fundo: #383D58;
--cor-principal: #0b0d20;
--cor-secundaria: #212333;
--cor-destaque: #2BDEFD;
--cor-texto: #D7F9FF;
}
 body{
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
 }