:root {
  --cor-fundo: #383D58;
  --cor-principal: #0b0d20;
  --cor-secundaria: #212333;
  --cor-destaque: #2BDEFD;
  --cor-texto: #D7F9FF;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; /* Remove any default margin */
}

.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  max-width: 800px; /* Limit width for larger screens */
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the main box */
}

h1 {
  color: var(--cor-destaque);
  font-size: 2rem; /* Adjust size for better readability */
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 15px;
  padding: 15px 25px; /* Added horizontal padding for better button shape */
  font-size: 1rem; /* Set a font size for consistency */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}

button:focus {
  outline: none; /* Remove outline on focus */
}